.banner-index{
    background-image: url(../img/SlideInicio.png);
    padding:55px 50px;
}
.banner-index h1, .banner-unete h1{
    font-size: 50px;
    margin: 0;
}
.banner-index h1{
    color: var(--amarillo);
}
.banner-index h6, .banner-unete h6{
    color: var(--blanco);
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    margin: 0 0 15px 0;
}
.banner-index a{
    background-color: var(--rojo);
    border-radius: 100px;
}
.banner-unete a{
    background-color: var(--amarillo);
    border-radius: 15px;
}
.Plataformas-streaming h2{
    font-size: 35px;
}
.banner-unete{
    background-image: url(../img/index/slide-unete.png);
    padding:65px 50px;
    background-size: cover;
    background-position: -50%;
}
.banner-unete h1{
    margin-bottom: 10px;
    color: var(--naranja);
}