.registrarse-banner{
    background-image: url(../img/fondo-iniciosesion.jpg);
    height: 90vh;
    padding: 50px 150px;
}
.registrarse-banner h1{
    color: var(--amarillo);
    
}
.boton-probarsuerte{
    border-radius: 10px;
}
.registrarse-banner li, .registrarse-banner h4{
    color: var(--blanco);
    font-size: 20px;
    font-family: 'Merriweather';
}
.form-label{
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 18px;
}

@media screen and (max-width:800px){
    .registrarse-banner{
        padding: 25px ;
        height: 100%;
    }
    .registrarse-banner li, .registrarse-banner h4{
        font-size: 16px;
    }
}
